<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="navbar ">
        <a th:href="@{/index.html}" class="header__logo"><img src="./vista/media/logo-portafolio.png" alt=""></a>
        <div class="header_help">
            <picture><img src="" alt=""></picture>
            <p>
                <a href="#"><img src="" alt="">¿Te ayudamos?</a>
            </p>
        </div>
    </div>
</header>
</body>
</html>